NODE_ENV=development
PORT=5000
FRONTEND_URL=https://filenova.in

# Razorpay Test Mode Keys
RAZORPAY_KEY_ID=rzp_test_T8X4iBoY2XHszk
RAZORPAY_KEY_SECRET=tFVH9d9Dro1TO0BsJVJ6AH3S
RAZORPAY_WEBHOOK_SECRET=your_test_webhook_secret_here

# Database
MONGODB_URI=mongodb://localhost:27017/filenova

# JWT
JWT_SECRET=your_jwt_secret_here
